body{
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: #523388;
    color: #fff;
}

header a{
    color: #fff;
    text-decoration: none;
}
footer a{
    color: #fff;
    text-decoration: none;}
main{
    display: flex;
    flex-direction: row;
    flex:auto
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex:1;
    overflow-y: auto;
}